@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* BODY */
body {
    background-color: rgba(215, 197, 216, 0.445);
    position: relative;
    padding-bottom: 6em;
    min-height: 100vh;
}

/* HEADER */
.logo {
    width: 230px;
    margin-top: 10px;
}

.logoContacto {
    width: 230px;
    margin-top: -5px;
}

.ajustes-buscadorEncabezado svg {
    color: rgba(137, 43, 226, 0.527);
    position: absolute;
    right: 8rem;
    top: 6.1rem;
}

header li {
    display: inline;
}

header {
    background: rgba(170, 76, 170, 0.384);
    width: 100%;
    height: 12rem;
}

.botonHamburguesa {
    background-color: rgb(212, 189, 212);

}

@media screen and (max-width:993px) {
    header .logo {
        margin-top: -5px;
    }
}


.ajustes-buscadorEncabezado {
    height: 3.2rem;
    width: 20rem;
    margin-right: 6rem;
}

::placeholder {
    font-size: 1.3rem;
}


.centrar {
    width: 100%;
}

.ajustes-buscadorEncabezado input {
    border-radius: 1.3rem;
}

.navegacion-principal {
    line-height: 8rem;
}

.navegacion-principal a {
    display: inline-block;
    color: black;
    padding: 0.8rem;
    line-height: normal;
    font-size: 1.5rem;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-top: 3rem;
    margin-left: 6rem;
    align-content: center;
}

header nav a:hover {
    background: rgba(216, 199, 216, 0.849);
    border-radius: 2rem;
}

/* MAIN INDEX */

.caja-informacion {
    border: 0.5px solid rgba(138, 138, 138, 0.37);
    background-color: rgba(230, 185, 224, 0.849);
    border-radius: 9px;
    width: 96rem;
    height: 8.9rem;
    display: flex;
    margin-top: 6rem;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

.caja {
    border: 0px solid rgba(146, 146, 146, 0.26);
    border-radius: 10px;
    width: 32rem;
    height: 8rem;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
    display: inline-block;
    text-align: center;
}

.caja a {
    text-decoration: underline;
    font-size: 1.3rem;
    margin-left: -8rem;
}

.caja h2 {
    font-size: 1.7rem;
    padding-top: 1.4rem;
}

.caja:hover {
    background: rgba(168, 156, 168, 0.253);
    border-radius: 1rem;
}

@media screen and (max-width:993px) {
    .caja-informacion {
        width: 60rem;
        height: 6rem;
    }

    .caja {
        width: 48rem;
        height: 5rem;
    }

    .caja a {
        display: none;
    }

    .caja h2 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:767px) {
    .caja-informacion {
        width: 40rem;
        height: 4rem;
    }

    .caja {
        width: 25rem;
        height: 3rem;
    }

    .caja a {
        display: none;
    }

    .caja h2 {
        text-align: center;
        font-size: 1.2rem;
    }


}

.botonWhatsApp {
    position: fixed;
    z-index: 999;
    border-radius: 40%;
    bottom: 10rem;
    right: 1.5rem;
    transition: ease 0.5s;
}

.botonWhatsApp:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.botonWhatsApp img {
    width: 6rem;
    transition: ease 1s;
}

.carrusel-ajustes img {
    border-radius: 2rem;
}

/* .carrusel-ajustes {
    margin-left: 5rem;
    margin-right: 5rem;

} */


.lista-destacadoDelMes img {
    width: 20rem;
    margin-top: 3rem;
}

.imagenes-destacadoDelMes a {
    font-size: 1.5rem;


}

.lista-destacadoDelMes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


main {
    padding: 4rem;

}

h1 {
    padding: 0.9rem;
    margin-top: 4.3rem;
    font-family: 'Marcellus', serif;
    text-align: center;
    line-height: 1;
    margin-bottom: 0.5rem;
    font-size: 3.8rem;
}

a {
    text-decoration: none;
}

/* MAIN EMPRESA */

/* .nosotros {
    margin-right: 6.5rem;
    border: solid black 2.5px;
    border-radius: 1.5rem;
    margin-left: 6.5rem;
} */

.nosotros {
    margin-left: 2rem;
    margin: 3rem;
}

.nosotros p {
    margin: 2rem;
    font-size: 1.5rem;
}

.informacionh2 h2 {
    text-align: left;
    margin: 2rem;
    font-size: 3.2rem;
}

/* MAIN CATEGORIAS */

.lista-categorias h2 {
    margin-bottom: 3rem;
}

/* .lista-categorias {
    border: solid black 2.5px;
    padding: 3rem;
    border-radius: 1.2rem;
    margin-right: 6.5rem;
    margin-left: 6.5rem;

} */


.categorias a {
    background-color: rgba(238, 130, 238, 0.432);
    border: 1px solid rgb(202, 140, 202);
    color: black;
    font-weight: 500;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 25rem;
    height: 3.5rem;
    margin-left: 6.5rem;
    font-size: 2rem;
    display: block;
    margin-bottom: 1.5rem;
    text-align: center;
}

.categorias img {
    width: 25rem;
    height: 25rem;
    margin-left: 6.5rem;
    margin-top: 1.5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.categorias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* MAIN CONTACTO */
.sectionContacto {
    /* position: relative; */
    width: 100%;
    height: 80rem;
    /* margin-bottom: 10rem; */
    display: grid;
    place-items: center;
}

.contactoForm {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 40px;
    width: 90%;
    height: 90%;
    background: rgba(219, 107, 219, 0.377);
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    border-radius: 30px;
}

.contactoForm .form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 30px;
}

.form form {
    width: 100%;
}

.form .texto h2 {
    color: rgb(158, 11, 158);
    font-size: 3rem;
    margin-bottom: 10px;
}

.form .texto p {
    color: rgb(97, 72, 97);
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.form .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form .inputBox label {
    color: rgb(123, 35, 158);
    font-weight: 700;
    font-size: 1.2rem;
}

.form .inputBox [type="text"],
.form .inputBox [type="email"],
.form .inputBox textarea {

    border: none;
    background: rgba(238, 235, 238, 0.349);
    padding: 10px;
    border-radius: 15px;
    color: rgb(27, 23, 23);
    resize: none;
}

.form .inputBox [type="text"]:focus,
.form .inputBox [type="email"]:focus,
.form .inputBox textarea:focus {
    outline: 2px solid rgba(153, 101, 153, 0.377);
}

form input[type="submit"] {
    background: rgb(109, 57, 122);
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
    width: 250px;
    padding: 10px;
    margin-top: 1.5rem;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    transition: 0.3s;
}


.form .inputBox [type="submit"]:hover {
    background: rgb(149, 57, 172);
}

.contactoForm .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgBox {
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 2rem;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.infoContacto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.infoContacto ion-icon {
    font-size: 2.5rem;
    margin-right: 10px;
    color: black;
}

.infoContacto p {
    color: black;
    font-size: 1.4rem;
}

.redessociales-contacto a {
    padding: 20px;
    font-size: 3rem;
    color: black;
    transition: 0.3s;
}

.redessociales-contacto a:hover {
    color: rgb(69, 44, 80);
}

@media only screen and (max-width: 1500px) {
    section .contactoForm {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}


@media only screen and (max-width: 857px) {
    .contactoForm .info {
        height: 300px;
        padding: 10px;
    }

    .sectionContacto {
        margin-bottom: 20rem;
    }

    .contactoForm .info .imgBox {
        display: none;
    }
}


@media only screen and (max-width: 450px) {

    .contactoForm .form {
        margin-left: 10px;
        width: 100%;
    }

    .contactoForm .info {
        margin-bottom: 30px;
    }
}

/* MAIN PREGUNTAS */

.preguntas-frecuentes h2 {
    margin-bottom: 0.5rem;
}

/* .preguntas-frecuentes {
    border: solid black 2.5px;
    margin: 4rem;
    padding: 3rem;
    margin-bottom: 10rem;
    border-radius: 1.5rem;
    margin-right: 6.5rem;
    margin-left: 6.5rem;
} */

.informacionh3 {
    text-align: left;
    margin-left: 2.1rem;
    margin-bottom: 2rem;
}

.lista-preguntas-frecuentes p {
    text-align: left;
    margin-left: 2.4rem;
    font-size: 1.5rem;
}

.ajustes-preguntas {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}


/* FOOTER */

footer {
    background-color: rgba(170, 76, 170, 0.384);
    padding: 1em 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;

}



.ajustes-footer {
    font-size: 1.3rem;
}