* {
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	background-color: $background-color_1;
	position: relative;
	padding-bottom: 6em;
	min-height: 100vh;
	overflow-x: 0;
}
main {
	padding: 4rem;
}
