/* .nosotros {
    margin-right: 6.5rem;
    border: solid black 2.5px;
    border-radius: 1.5rem;
    margin-left: 6.5rem;
} */

.nosotros {
	margin-left: 2rem;
	margin: 3rem;
	p {
		margin: 2rem;
		font-size: 1.5rem;
	}
}
