
@media only screen and (max-width: 1500px) {
	section {
		.contactoForm {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}
}

@media screen and (max-width:1228px) {
	.navegacion-principal {
		a {
			margin-left: 4rem;
		}
	}
	.ajustes-buscadorEncabezado {
		height: 3.2rem;
		width: 15rem;
		margin-right: 1rem;
	}

	.imagenBuda {
		img {
			height: 24rem;
			margin-left: 0.5rem;
		}
	}
	.lista-destacadoDelMes {
		img {
			width: 18rem;
			margin-left: 0.5rem;
		}
	}

}


@media screen and (max-width:993px) {
	header {
		.logo {
			margin-top: -5px;
		}
	}
	.destacadodelmes {
		font-size: 3rem;
	}
	.caja-informacion {
		width: 60rem;
		height: 6rem;
	}
	.caja {
		width: 48rem;
		height: 5rem;
		a {
			display: none;
		}
		h2 {
			font-size: 1.6rem;
			margin-top: 0;
		}
	}
	.iconocaja {
		ion-icon {
			display: none;
		}
	}
}

@media only screen and (max-width: 991px) {
	.contactoForm {
		.info {
			height: 200px;
			padding-bottom: 5rem;
			.imgBox {
				display: none;
			}
		}
	}
	.sectionContacto {
		margin-bottom: 20rem;
	}
	.imagenBuda {
		img {
			height: 20.2rem;
			margin-left: 0.5rem;
		}
	}
	.lista-destacadoDelMes {
		img {
			width: 15rem;
			margin-left: 0.5rem;
		}
	}

	.imagenBuda {
		img {
			height: 17.3rem;
			margin-left: 0.5rem;
		}
	}
	.lista-destacadoDelMes {
		img {
			width: 13rem;
			margin-left: 0.5rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.destacadodelmes h1{
		font-size: 2.6rem;
	}
	.caja-informacion {
		width: 40rem;
		height: 4.5rem;
	}
	.caja {
		width: 25rem;
		height: 3rem;
		a {
			display: none;
		}
		h2 {
			text-align: center;
			font-size: 1.2rem;
		}
	}

	.imagenBuda {
		img {
			height: 14.7rem;
			margin-right: 0.5rem;
		}
	}
	.lista-destacadoDelMes {
		img {
			width: 11rem;
			margin-right: 0.5rem;
		}
	}
}

@media screen and (max-width:609px) {
	.imagenBuda {
		img {
			height: 12.2rem;
			margin-right: 0.5rem;
		}
	}
	.lista-destacadoDelMes {
		img {
			width: 9rem;
			margin-right: 0.5rem;
		}
	}
}

@media screen and (max-width:430px) {
	.destacadodelmes {
		font-size: 2.5rem;
	}
	.caja-informacion {
		width: 20rem;
		height: 18rem;
		flex-direction: column;
	}
	.caja {
		justify-content: center;
		width: 19.5rem;
		height: 18rem;
		border-bottom: 0.1rem solid rgba(128, 128, 128, 0.349);
		border-radius: 0;
		a {
			display: none;
		}
		h2 {
			text-align: center;
			font-size: 1.2rem;
		}
	}

}


@media only screen and (max-width: 421px) {
	main {
		padding-left: 0;
	}
	.form {
		.inputBox {
			[type="text"] {
				width: 25rem;
			}
			[type="email"] {
				width: 25rem;
			}
			textarea {
				width: 25rem;
			}
		}
	}
	.contactoForm {
		padding-left: 1rem;
		.form {
			margin-left: 10px;
			width: 100%;
		}
		.info {
			margin-bottom: 30px;
		}
	}
}
@media screen and (min-width:340px) and (max-width: 459px) {

	.destacadodelmes h1{
		font-size: 2.3rem;
	}
	.imagenBuda {
		img {
			height: 12rem;
			margin-left: 4rem;
			margin-right: 2rem;
		}
	}
	.lista-destacadoDelMes {
		img {
			width: 9rem;
			margin-left: 4rem;
			margin-right: 2rem;
		}
	}
}
