$color_1: black;
$color_2: rgba(255, 228, 196, 0.281);
$color_3: rgb(158, 11, 158);
$color_4: rgb(97, 72, 97);
$color_5: rgb(123, 35, 158);
$color_6: rgb(27, 23, 23);
$color_7: #fff;
$color_8: rgb(69, 44, 80);
$font-family_1: 'Marcellus', serif;
$background-color_1: rgba(215, 197, 216, 0.466);
$background-color_2: rgb(212, 189, 212);
$background-color_3: rgba(230, 185, 224, 0.849);
$background-color_4: rgba(238, 130, 238, 0.432);
$background-color_5: rgba(170, 76, 170, 0.384);