
.botonWhatsApp {
	position: fixed;
	z-index: 999;
	border-radius: 40%;
	bottom: 10rem;
	right: 1.5rem;
	transition: ease 0.5s;
	&:hover {
		transform: scale(1.2);
		transition: 0.3s;
	}
	img {
		width: 6rem;
		transition: ease 1s;
	}
}